

.navcol {
	background-color: darkblue;
	position: fixed;
	z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
}

.pos1 {
	
}


#font1{
	font-family: 'Inconsolata';
	float: left;
	font-size: 50px;
	text-align: center;
	
}

#font2{
	font-family: 'Bangers', cursive;
	font-size: 50px;
	margin-top: 70px;
	text-align: center;
}

#propic {
	content:url(../images/Matt.jpg);
	size: 50%;
	display: block;
    margin: 0 auto;
}

.module1 {
  background: white;

  > h3 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
}

.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  font-size: 40px;
  text-align: center;
}